/* Navigation */
#navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:10vh;
}
.nav-links{
    position: fixed;
    top:0;
    background-color: rgb(53, 54, 58);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    clip-path:circle(0px at 90% -10%);
    -webkit-clip-path:circle(0px at 100% -10%);
    transition: all 1s ease;
    pointer-events: none;
}
.nav-links li a{
    font-size: 1.3rem;
    /* padding:0px;
    padding-bottom: 8px;
    margin: 5px;
    height: 30px; */
}
.nav-links.open{
    clip-path: circle(700px);
    pointer-events: all;
}

#logo{
    margin-left: 0px;
    margin-bottom: 0px;
}
#logo p{
    font-size: 1.2rem;
}

.hamburger{
    display: flex;
    justify-content: center;
    height: 10vh;
}

.menu-icon{
    margin: auto 20px;
    height:50%;
    /* background-color: white; */
    filter: invert(1);
    cursor: pointer;
    z-index: 2;
}



/* Home section */
#home {
    padding:0px;
    height: 200px;
    margin-top: 143px;
    margin-bottom: 20px;
}
#home::before{
    height: 480px;
}

#home p{
    font-size: 14px;
    font-weight: 500;
}


/* Services section */
#services {
    flex-direction: column;
    
}
#services .box{
    padding:0px;
    height: 340px;

}

#services .box img{
    height:200px;
}

#client{
    z-index: -2;
}

/* Clients section */
#clients {
    overflow: hidden;
}

/* Utility classes */
.h-primary{
    font-size: 32px;
}
.h-secondary{
    font-size: 19px;
}


/* Media Queries */
@media only screen and (max-width: 670px) {
    #clients img{
        height: 55px;
    }
    .client-item{
        padding: 20px;
    }
    #client{
        height: 200px;
    }
    .menu-icon{
    height: 40%;
    }
}

@media only screen and (max-height: 679px){
    #navbar ul li a{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 368px){
    .h-primary{
        font-size: 25px;
    }
    .h-secondary{
        font-size: 20px;
    }
    #home h3{
        font-size: 17px;
    }
    #services .box {
        width: 250px;
    }
    #services .box img{
        height:170px;
    }
    #clients img{
        height: 44px;
    }
    .client-item{
        padding: 17px;
    }
    #logo p{
        font-size: 20px;
    }

}



