/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Barlow', sans-serif;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navbar */
#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;

}

/* Logo and image */
#logo {
    margin: 10px 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo p{
    display: inline-block;
    font-weight: 900;

}

#logo img {
    height: 59px;
    margin: 3px 6px;
    border-radius: 30px;
}

/* List */
#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    padding: 9px 22px;
}

#navbar ul li a:hover {
    background-color: rgba(0, 0, 0, 0.199);
    transform: scale(1.009);
}

/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    height: 222px;
    margin-top: 93px;
    margin-bottom: 93px;
}

#home::before {
    content: "";
    z-index: -1;
    background: url('../img/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 642px;
    width: 100%;
    opacity: 0.9;
    top: 0px;
    left: 0px;
}

#home h1{
    color: black;
}
#home p {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
   
}


/* Services Section */
#services {
    margin: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#services .box {
    margin: 25px 42px;
    border-radius: 23px;
    background-color: white;
    box-shadow: 2px 2px 8px grey;
    height:360px;
    width: 350px;
}

#services .box img {
    height: 200px;
    display: block;
    width: 100%;
    border-radius: 23px 23px 0px 0px;
    
}


/* Client section */
#client {
    position: relative;
    height: 290px;
}

#client::before {
    content: "";
    position: absolute;
    background: url("D:/Akshat/Website Projects/Restaurant/img/bg.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 71px;
    border-radius: 40px;
    box-shadow: 2px 2px 5px grey;
}

.client-item {
    padding: 34px;

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 9px 20px;
}

/* Utility classes */
.h-primary {
    color: white;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    /* color:white; */
    font-size: 2.3rem;
    padding: 12px;
}

.center {
    color: black;
    text-align: center;
}

